/*Parametres Généraux*/

@font-face {
    font-family: "Playball";
    src: url("fonts/Playball-Regular.ttf");
}

* {
    box-sizing: border-box;
}

/*Supprime l'outline*/

input, button {
    outline: none;
    font-family: 'Playball', cursive;
}

/*Supprime les spinners sur les input number*/

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
    color: #323232;
}

/*BODY*/

html, body {
    height: 100%;
    width: 100%;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    font-family: 'Playball', cursive;
    background-color: cornflowerblue;
    color: #323232;
    background-image: url(./images/brain.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 80%;
    border: solid 10px gold;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    transition: backdrop-filter 1.5s;
}

.filterBlur {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/*Container de la parge Demarrer*/

.container_start {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}

.container-min-max {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7vh;
}

.min, .max {
    width: 30vw;
    max-width: 200px;
    height: 30vw;
    max-height: 200px;
    font-size: 3rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #7b7b7b;
    background-color: #ff884b;
    box-shadow: 1px 1px 5px 1px #5d5d5d;
    text-shadow: 2px 2px 2px rgb(60, 60, 60);
}

.a-div {
    font-size: 3rem;
    color: #efefef;
    text-shadow: 2px 2px 2px rgb(60, 60, 60);
}

/*Boutons*/

.container_btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2vh;
    text-align: center;
}

.btn {
    width: 90%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 3rem;
    box-shadow: 1px 1px 5px 1px #5d5d5d;
    text-shadow: 0px 1px 2px rgb(101, 101, 101);
    -webkit-animation: heartbeat 2.5s infinite;
    animation: heartbeat 2.5s infinite;
}

@-webkit-keyframes heartbeat {
    0% {
        transform: scale3d( 0.75, 1, 1);
    }
    20% {
        transform: scale3d( 1, 1, 1);
    }
    40% {
        transform: scale3d( 0.75, 1, 1);
    }
    60% {
        transform: scale3d( 1, 1, 1);
    }
    80% {
        transform: scale3d( 0.75, 1, 1);
    }
    100% {
        transform: scale3d( 0.75, 1, 1);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale3d( 0.75, 1, 1);
    }
    20% {
        transform: scale3d( 1, 1, 1);
    }
    40% {
        transform: scale3d( 0.75, 1, 1);
    }
    60% {
        transform: scale3d( 1, 1, 1);
    }
    80% {
        transform: scale3d( 0.75, 1, 1);
    }
    100% {
        transform: scale3d( 0.75, 1, 1);
    }
}

/*Container Page de Jeu*/

.container_jeu {
    width: 100%;
    margin: auto;
    display: none;
}

/*Header des Score*/

.div-score {
    height: 4vh;
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff884b;
    font-size: 1.2rem;
    box-shadow: 0px 4px 5px -2px #5d5d5d;
    text-shadow: 1px 0px 2px rgb(60 60 60);
}

.scoreID {
    color: teal;
}

.hiScoreID {
    color: white;
}

.container_calcul {
    color: #ff884b;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(60 60 60);
}

.reponse {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    border: none;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 2px rgb(60 60 60);
}

::-webkit-input-placeholder {
    color: #afafaf;
}

::-moz-placeholder {
    color: #afafaf;
}

:-ms-input-placeholder {
    color: #afafaf;
}

::-ms-input-placeholder {
    color: #afafaf;
}

::placeholder {
    color: #afafaf;
}

hr {
    margin: 5px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(95, 95, 95, 0.75), rgba(0, 0, 0, 0));
}

.timer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Progress Bar*/

.progressBar-container {
    flex: auto;
    height: 1rem;
    background-color: #777777;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 3px 3px 5px 0px #5d5d5d;
}

.progressBar {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, gold 40%, #e5405e 65%);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: width 500ms;
}

#container_brain {
    width: 15%;
    transition: transform 2s;
}

.rotate {
    transform: rotate3d(0, 0, 1, 540deg);
}

.brain2 {
    width: 100%;
    -webkit-animation: heartbeat 1.5s infinite;
    animation: heartbeat 1.5s infinite;
}

/*Page GameOver*/

.container_gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: center;
}

.brain {
    width: 30vw;
    max-width: 400px;
    margin: 20px;
    text-align: center;
}

.brain img {
    width: 100%;
    -webkit-animation: rotation 2s 0.5s infinite;
    animation: rotation 2s 0.5s infinite;
}

@-webkit-keyframes rotation {
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes rotation {
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.container_scoreFinal {
    width: 80%;
    padding: 1rem;
    font-size: 2rem;
    background-color: #ff884b;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px 1px #5d5d5d;
    text-shadow: 2px 2px 2px rgb(60 60 60);
}

.scoreFinal {
    color: white;
}

.bonneReponse {
    background-color: gold;
    width: 100%;
    margin: 7vw 0;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 1px 2px rgb(60 60 60);
}

/*Bouton Home*/

.home {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #393e46;
    background-image: url(./images/elipse.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125%;
    background-color: #EFEFEF;
    box-shadow: 2px 2px 6px 1px #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home img {
    width: 65%;
}

/*Banniere d'installation PWA*/

.installBtn {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 7vh;
    top: -10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 1.3rem;
    text-shadow: 0px 1px 2px rgb(101, 101, 101);
    transform: translate3d(0, -200%, 0);
    transition: transform 0.3s;
    cursor: pointer;
}

.slide {
    transform: translate3d(0, 0, 0);
}

@media (min-width:600px) {
    body {
        background-size: 500px;
    }
}